CSMAPS_DATABASE_URL=postgres://user:password@localhost:5432/csmaps
DOCDB_DATABASE_URL=postgres://user:password@localhost:5432/docdb
HKADBUS2_DATABASE_URL=postgres://user:password@localhost:5432/hkadbus2
ENCRYPTOR_PASSWORD=your-secret-here
